.git
.github
.vscode
.idea

node_modules
**/node_modules
dist
**/dist
.next
**/.next
.turbo
**/.turbo
.turbo_cache
**/.turbo_cache
.npm-cache
**/.npm-cache

.env
.env.*
!.env.example

*.log
*_log.txt
*_out.txt
*_err.txt
*_error.log
*_output.txt
coverage
**/coverage

packages/database/tmp
packages/database/tmp*
packages/database/*.txt
packages/database/*.log
packages/database/*.json
!packages/database/package.json
!packages/database/tsconfig.json
