# SQL Server
MSSQL_DB=student_db
MSSQL_SA_PASSWORD=Mdang2186
DATABASE_URL="sqlserver://localhost:1433;database=student_db;user=sa;password=Mdang2186;encrypt=DANGER_PLAINTEXT;trustServerCertificate=true;"

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=1h

# Backend service URLs for local development
AUTH_SERVICE_URL=http://localhost:3001
STUDENT_SERVICE_URL=http://localhost:3002
COURSE_SERVICE_URL=http://localhost:3003
ENROLLMENT_SERVICE_URL=http://localhost:3004
GRADE_SERVICE_URL=http://localhost:3005

# Frontend URLs
WEB_PORTAL_URL=http://localhost:4000
WEB_ADMIN_URL=http://localhost:4005
CORS_ORIGIN=http://localhost:4000,http://localhost:4005
NEXT_PUBLIC_API_URL=http://localhost:3000
API_GATEWAY_INTERNAL_URL=http://api-gateway:3000
RESET_PASSWORD_BASE_URL=http://localhost:4005

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-specific-password
MAIL_FROM=your-email@gmail.com
