USE [student_db]
GO
/****** Object:  Table [dbo].[_AdminClassToCourseClass]    Script Date: 30/03/2026 2:23:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_AdminClassToCourseClass](
	[A] [varchar](50) NOT NULL,
	[B] [varchar](50) NOT NULL,
 CONSTRAINT [_AdminClassToCourseClass_AB_unique] UNIQUE NONCLUSTERED 
(
	[A] ASC,
	[B] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_prisma_migrations]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_prisma_migrations](
	[id] [varchar](36) NOT NULL,
	[checksum] [varchar](64) NOT NULL,
	[finished_at] [datetimeoffset](7) NULL,
	[migration_name] [nvarchar](250) NOT NULL,
	[logs] [nvarchar](max) NULL,
	[rolled_back_at] [datetimeoffset](7) NULL,
	[started_at] [datetimeoffset](7) NOT NULL,
	[applied_steps_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminClass]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminClass](
	[id] [varchar](50) NOT NULL,
	[majorId] [varchar](50) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[cohort] [varchar](50) NULL,
	[advisorId] [varchar](50) NULL,
 CONSTRAINT [AdminClass_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AdminClass_code_key] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[id] [varchar](50) NOT NULL,
	[enrollmentId] [varchar](50) NOT NULL,
	[date] [date] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[note] [nvarchar](255) NULL,
 CONSTRAINT [Attendance_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Attendance_enrollmentId_date_key] UNIQUE NONCLUSTERED 
(
	[enrollmentId] ASC,
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassSchedule]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSchedule](
	[id] [varchar](50) NOT NULL,
	[courseClassId] [varchar](50) NOT NULL,
	[roomId] [varchar](50) NULL,
	[semesterId] [varchar](50) NOT NULL,
	[dayOfWeek] [int] NOT NULL,
	[startShift] [int] NOT NULL,
	[endShift] [int] NOT NULL,
	[type] [varchar](50) NOT NULL,
 CONSTRAINT [ClassSchedule_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ClassSchedule_roomId_dayOfWeek_startShift_semesterId_key] UNIQUE NONCLUSTERED 
(
	[roomId] ASC,
	[dayOfWeek] ASC,
	[startShift] ASC,
	[semesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseClass]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseClass](
	[id] [varchar](50) NOT NULL,
	[subjectId] [varchar](50) NOT NULL,
	[semesterId] [varchar](50) NOT NULL,
	[lecturerId] [varchar](50) NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[tuitionMultiplier] [float] NOT NULL,
	[maxSlots] [int] NOT NULL,
	[currentSlots] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [CourseClass_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CourseClass_code_key] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculum]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculum](
	[id] [varchar](50) NOT NULL,
	[majorId] [varchar](50) NOT NULL,
	[cohort] [varchar](50) NOT NULL,
	[subjectId] [varchar](50) NOT NULL,
	[suggestedSemester] [int] NOT NULL,
	[isMandatory] [bit] NOT NULL,
 CONSTRAINT [Curriculum_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Curriculum_majorId_cohort_subjectId_key] UNIQUE NONCLUSTERED 
(
	[majorId] ASC,
	[cohort] ASC,
	[subjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[id] [varchar](50) NOT NULL,
	[studentId] [varchar](50) NOT NULL,
	[courseClassId] [varchar](50) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[registeredAt] [datetime2](7) NOT NULL,
	[isRetake] [bit] NOT NULL,
	[tuitionFee] [decimal](10, 2) NOT NULL,
 CONSTRAINT [Enrollment_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Enrollment_studentId_courseClassId_key] UNIQUE NONCLUSTERED 
(
	[studentId] ASC,
	[courseClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[id] [varchar](50) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[deanName] [nvarchar](255) NULL,
 CONSTRAINT [Faculty_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Faculty_code_key] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamilyMember]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamilyMember](
	[id] [varchar](50) NOT NULL,
	[studentId] [varchar](50) NOT NULL,
	[relationship] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](255) NOT NULL,
	[birthYear] [int] NULL,
	[job] [nvarchar](200) NULL,
	[phone] [varchar](20) NULL,
	[ethnicity] [nvarchar](50) NULL,
	[religion] [nvarchar](50) NULL,
	[nationality] [nvarchar](50) NULL,
	[workplace] [nvarchar](255) NULL,
	[position] [nvarchar](100) NULL,
	[address] [nvarchar](500) NULL,
 CONSTRAINT [FamilyMember_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeeTransaction]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeeTransaction](
	[id] [varchar](50) NOT NULL,
	[studentFeeId] [varchar](50) NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[transactionType] [varchar](50) NOT NULL,
	[paymentMethod] [varchar](50) NOT NULL,
	[transactionDate] [datetime2](7) NOT NULL,
	[transactionCode] [varchar](100) NULL,
 CONSTRAINT [FeeTransaction_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grade]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grade](
	[id] [varchar](50) NOT NULL,
	[studentId] [varchar](50) NOT NULL,
	[courseClassId] [varchar](50) NOT NULL,
	[subjectId] [varchar](50) NOT NULL,
	[attendanceScore] [float] NULL,
	[regularScore1] [float] NULL,
	[regularScore2] [float] NULL,
	[practiceScore] [float] NULL,
	[midtermScore] [float] NULL,
	[isEligibleForExam] [bit] NOT NULL,
	[isAbsentFromExam] [bit] NOT NULL,
	[finalScore] [float] NULL,
	[totalScore10] [float] NULL,
	[totalScore4] [float] NULL,
	[letterGrade] [varchar](10) NULL,
	[isPassed] [bit] NOT NULL,
	[isLocked] [bit] NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [Grade_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Grade_studentId_subjectId_courseClassId_key] UNIQUE NONCLUSTERED 
(
	[studentId] ASC,
	[subjectId] ASC,
	[courseClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[id] [varchar](50) NOT NULL,
	[userId] [varchar](50) NULL,
	[facultyId] [varchar](50) NULL,
	[lectureCode] [varchar](50) NOT NULL,
	[fullName] [nvarchar](255) NOT NULL,
	[degree] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
 CONSTRAINT [Lecturer_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Lecturer_lectureCode_key] UNIQUE NONCLUSTERED 
(
	[lectureCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Lecturer_userId_key] UNIQUE NONCLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Major]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major](
	[id] [varchar](50) NOT NULL,
	[facultyId] [varchar](50) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[totalCreditsRequired] [int] NOT NULL,
 CONSTRAINT [Major_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Major_code_key] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[id] [varchar](50) NOT NULL,
	[userId] [varchar](50) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[isRead] [bit] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
 CONSTRAINT [Notification_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prerequisite]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prerequisite](
	[id] [varchar](50) NOT NULL,
	[subjectId] [varchar](50) NOT NULL,
	[prerequisiteId] [varchar](50) NOT NULL,
	[type] [varchar](50) NOT NULL,
 CONSTRAINT [Prerequisite_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Prerequisite_subjectId_prerequisiteId_key] UNIQUE NONCLUSTERED 
(
	[subjectId] ASC,
	[prerequisiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[id] [varchar](50) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[building] [varchar](100) NULL,
	[capacity] [int] NOT NULL,
	[type] [varchar](50) NOT NULL,
	[campus] [nvarchar](100) NULL,
 CONSTRAINT [Room_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Room_name_key] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[id] [varchar](50) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[year] [int] NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
	[isCurrent] [bit] NOT NULL,
	[isRegistering] [bit] NOT NULL,
	[registerStartDate] [datetime2](7) NULL,
	[registerEndDate] [datetime2](7) NULL,
 CONSTRAINT [Semester_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Semester_code_key] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialization]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialization](
	[id] [varchar](50) NOT NULL,
	[majorId] [varchar](50) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [Specialization_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Specialization_code_key] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [varchar](50) NOT NULL,
	[userId] [varchar](50) NULL,
	[adminClassId] [varchar](50) NULL,
	[majorId] [varchar](50) NOT NULL,
	[studentCode] [varchar](50) NOT NULL,
	[fullName] [nvarchar](255) NOT NULL,
	[dob] [date] NOT NULL,
	[gender] [nvarchar](20) NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](500) NULL,
	[citizenId] [varchar](50) NULL,
	[emailPersonal] [varchar](100) NULL,
	[admissionDate] [date] NULL,
	[campus] [nvarchar](100) NULL,
	[educationLevel] [nvarchar](100) NULL,
	[educationType] [nvarchar](100) NULL,
	[intake] [varchar](50) NULL,
	[ethnicity] [nvarchar](50) NULL,
	[religion] [nvarchar](50) NULL,
	[nationality] [nvarchar](50) NULL,
	[region] [nvarchar](50) NULL,
	[idIssueDate] [date] NULL,
	[idIssuePlace] [nvarchar](200) NULL,
	[policyBeneficiary] [nvarchar](200) NULL,
	[youthUnionDate] [date] NULL,
	[partyDate] [date] NULL,
	[birthPlace] [nvarchar](200) NULL,
	[permanentAddress] [nvarchar](500) NULL,
	[bankName] [nvarchar](100) NULL,
	[bankBranch] [nvarchar](100) NULL,
	[bankAccountName] [nvarchar](100) NULL,
	[bankAccountNumber] [varchar](50) NULL,
	[gpa] [float] NOT NULL,
	[cpa] [float] NOT NULL,
	[totalEarnedCredits] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[specializationId] [varchar](50) NULL,
	[academicStatus] [varchar](50) NOT NULL,
	[warningLevel] [int] NOT NULL,
 CONSTRAINT [Student_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Student_studentCode_key] UNIQUE NONCLUSTERED 
(
	[studentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Student_userId_key] UNIQUE NONCLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentFee]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentFee](
	[id] [varchar](50) NOT NULL,
	[studentId] [varchar](50) NOT NULL,
	[semesterId] [varchar](50) NOT NULL,
	[feeType] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[isMandatory] [bit] NOT NULL,
	[totalAmount] [decimal](12, 2) NOT NULL,
	[discountAmount] [decimal](12, 2) NOT NULL,
	[finalAmount] [decimal](12, 2) NOT NULL,
	[paidAmount] [decimal](12, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[dueDate] [date] NULL,
 CONSTRAINT [StudentFee_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[id] [varchar](50) NOT NULL,
	[majorId] [varchar](50) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[credits] [int] NOT NULL,
	[theoryHours] [int] NOT NULL,
	[practiceHours] [int] NOT NULL,
	[selfStudyHours] [int] NOT NULL,
	[department] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [Subject_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Subject_code_key] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingScore]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingScore](
	[id] [varchar](50) NOT NULL,
	[studentId] [varchar](50) NOT NULL,
	[semesterId] [varchar](50) NOT NULL,
	[score] [int] NOT NULL,
	[classification] [nvarchar](50) NOT NULL,
 CONSTRAINT [TrainingScore_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [TrainingScore_studentId_semesterId_key] UNIQUE NONCLUSTERED 
(
	[studentId] ASC,
	[semesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuitionConfig]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuitionConfig](
	[id] [varchar](50) NOT NULL,
	[majorId] [varchar](50) NOT NULL,
	[academicYear] [int] NOT NULL,
	[pricePerCredit] [decimal](12, 2) NOT NULL,
 CONSTRAINT [TuitionConfig_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 30/03/2026 2:23:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [varchar](50) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[passwordHash] [nvarchar](255) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[avatarUrl] [nvarchar](1000) NULL,
	[isActive] [bit] NOT NULL,
	[lastLogin] [datetime2](7) NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [User_pkey] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [User_email_key] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [User_username_key] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[_prisma_migrations] ADD  DEFAULT (getdate()) FOR [started_at]
GO
ALTER TABLE [dbo].[_prisma_migrations] ADD  DEFAULT ((0)) FOR [applied_steps_count]
GO
ALTER TABLE [dbo].[Attendance] ADD  CONSTRAINT [Attendance_status_df]  DEFAULT ('PRESENT') FOR [status]
GO
ALTER TABLE [dbo].[CourseClass] ADD  CONSTRAINT [CourseClass_tuitionMultiplier_df]  DEFAULT ((1.0)) FOR [tuitionMultiplier]
GO
ALTER TABLE [dbo].[CourseClass] ADD  CONSTRAINT [CourseClass_maxSlots_df]  DEFAULT ((60)) FOR [maxSlots]
GO
ALTER TABLE [dbo].[CourseClass] ADD  CONSTRAINT [CourseClass_currentSlots_df]  DEFAULT ((0)) FOR [currentSlots]
GO
ALTER TABLE [dbo].[CourseClass] ADD  CONSTRAINT [CourseClass_status_df]  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[Curriculum] ADD  CONSTRAINT [Curriculum_isMandatory_df]  DEFAULT ((1)) FOR [isMandatory]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [Enrollment_status_df]  DEFAULT ('REGISTERED') FOR [status]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [Enrollment_registeredAt_df]  DEFAULT (getdate()) FOR [registeredAt]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [Enrollment_isRetake_df]  DEFAULT ((0)) FOR [isRetake]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [Enrollment_tuitionFee_df]  DEFAULT ((0)) FOR [tuitionFee]
GO
ALTER TABLE [dbo].[FeeTransaction] ADD  CONSTRAINT [FeeTransaction_transactionType_df]  DEFAULT ('PAYMENT') FOR [transactionType]
GO
ALTER TABLE [dbo].[FeeTransaction] ADD  CONSTRAINT [FeeTransaction_transactionDate_df]  DEFAULT (getdate()) FOR [transactionDate]
GO
ALTER TABLE [dbo].[Grade] ADD  CONSTRAINT [Grade_isEligibleForExam_df]  DEFAULT ((1)) FOR [isEligibleForExam]
GO
ALTER TABLE [dbo].[Grade] ADD  CONSTRAINT [Grade_isAbsentFromExam_df]  DEFAULT ((0)) FOR [isAbsentFromExam]
GO
ALTER TABLE [dbo].[Grade] ADD  CONSTRAINT [Grade_isPassed_df]  DEFAULT ((0)) FOR [isPassed]
GO
ALTER TABLE [dbo].[Grade] ADD  CONSTRAINT [Grade_isLocked_df]  DEFAULT ((0)) FOR [isLocked]
GO
ALTER TABLE [dbo].[Grade] ADD  CONSTRAINT [Grade_status_df]  DEFAULT ('DRAFT') FOR [status]
GO
ALTER TABLE [dbo].[Major] ADD  CONSTRAINT [Major_totalCreditsRequired_df]  DEFAULT ((120)) FOR [totalCreditsRequired]
GO
ALTER TABLE [dbo].[Notification] ADD  CONSTRAINT [Notification_type_df]  DEFAULT ('INFO') FOR [type]
GO
ALTER TABLE [dbo].[Notification] ADD  CONSTRAINT [Notification_isRead_df]  DEFAULT ((0)) FOR [isRead]
GO
ALTER TABLE [dbo].[Notification] ADD  CONSTRAINT [Notification_createdAt_df]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Room] ADD  CONSTRAINT [Room_capacity_df]  DEFAULT ((50)) FOR [capacity]
GO
ALTER TABLE [dbo].[Room] ADD  CONSTRAINT [Room_type_df]  DEFAULT ('THEORY') FOR [type]
GO
ALTER TABLE [dbo].[Semester] ADD  CONSTRAINT [Semester_year_df]  DEFAULT ((2024)) FOR [year]
GO
ALTER TABLE [dbo].[Semester] ADD  CONSTRAINT [Semester_isCurrent_df]  DEFAULT ((0)) FOR [isCurrent]
GO
ALTER TABLE [dbo].[Semester] ADD  CONSTRAINT [Semester_isRegistering_df]  DEFAULT ((0)) FOR [isRegistering]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [Student_gpa_df]  DEFAULT ((0.0)) FOR [gpa]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [Student_cpa_df]  DEFAULT ((0.0)) FOR [cpa]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [Student_totalEarnedCredits_df]  DEFAULT ((0)) FOR [totalEarnedCredits]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [Student_status_df]  DEFAULT ('STUDYING') FOR [status]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [Student_academicStatus_df]  DEFAULT ('NORMAL') FOR [academicStatus]
GO
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [Student_warningLevel_df]  DEFAULT ((0)) FOR [warningLevel]
GO
ALTER TABLE [dbo].[StudentFee] ADD  CONSTRAINT [StudentFee_isMandatory_df]  DEFAULT ((1)) FOR [isMandatory]
GO
ALTER TABLE [dbo].[StudentFee] ADD  CONSTRAINT [StudentFee_discountAmount_df]  DEFAULT ((0)) FOR [discountAmount]
GO
ALTER TABLE [dbo].[StudentFee] ADD  CONSTRAINT [StudentFee_paidAmount_df]  DEFAULT ((0)) FOR [paidAmount]
GO
ALTER TABLE [dbo].[StudentFee] ADD  CONSTRAINT [StudentFee_status_df]  DEFAULT ('DEBT') FOR [status]
GO
ALTER TABLE [dbo].[Subject] ADD  CONSTRAINT [Subject_theoryHours_df]  DEFAULT ((30)) FOR [theoryHours]
GO
ALTER TABLE [dbo].[Subject] ADD  CONSTRAINT [Subject_practiceHours_df]  DEFAULT ((15)) FOR [practiceHours]
GO
ALTER TABLE [dbo].[Subject] ADD  CONSTRAINT [Subject_selfStudyHours_df]  DEFAULT ((0)) FOR [selfStudyHours]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [User_role_df]  DEFAULT ('STUDENT') FOR [role]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [User_isActive_df]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [User_createdAt_df]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [User_updatedAt_df]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[_AdminClassToCourseClass]  WITH CHECK ADD  CONSTRAINT [_AdminClassToCourseClass_A_fkey] FOREIGN KEY([A])
REFERENCES [dbo].[AdminClass] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[_AdminClassToCourseClass] CHECK CONSTRAINT [_AdminClassToCourseClass_A_fkey]
GO
ALTER TABLE [dbo].[_AdminClassToCourseClass]  WITH CHECK ADD  CONSTRAINT [_AdminClassToCourseClass_B_fkey] FOREIGN KEY([B])
REFERENCES [dbo].[CourseClass] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[_AdminClassToCourseClass] CHECK CONSTRAINT [_AdminClassToCourseClass_B_fkey]
GO
ALTER TABLE [dbo].[AdminClass]  WITH CHECK ADD  CONSTRAINT [AdminClass_advisorId_fkey] FOREIGN KEY([advisorId])
REFERENCES [dbo].[Lecturer] ([id])
GO
ALTER TABLE [dbo].[AdminClass] CHECK CONSTRAINT [AdminClass_advisorId_fkey]
GO
ALTER TABLE [dbo].[AdminClass]  WITH CHECK ADD  CONSTRAINT [AdminClass_majorId_fkey] FOREIGN KEY([majorId])
REFERENCES [dbo].[Major] ([id])
GO
ALTER TABLE [dbo].[AdminClass] CHECK CONSTRAINT [AdminClass_majorId_fkey]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [Attendance_enrollmentId_fkey] FOREIGN KEY([enrollmentId])
REFERENCES [dbo].[Enrollment] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [Attendance_enrollmentId_fkey]
GO
ALTER TABLE [dbo].[ClassSchedule]  WITH CHECK ADD  CONSTRAINT [ClassSchedule_courseClassId_fkey] FOREIGN KEY([courseClassId])
REFERENCES [dbo].[CourseClass] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassSchedule] CHECK CONSTRAINT [ClassSchedule_courseClassId_fkey]
GO
ALTER TABLE [dbo].[ClassSchedule]  WITH CHECK ADD  CONSTRAINT [ClassSchedule_roomId_fkey] FOREIGN KEY([roomId])
REFERENCES [dbo].[Room] ([id])
GO
ALTER TABLE [dbo].[ClassSchedule] CHECK CONSTRAINT [ClassSchedule_roomId_fkey]
GO
ALTER TABLE [dbo].[CourseClass]  WITH CHECK ADD  CONSTRAINT [CourseClass_lecturerId_fkey] FOREIGN KEY([lecturerId])
REFERENCES [dbo].[Lecturer] ([id])
GO
ALTER TABLE [dbo].[CourseClass] CHECK CONSTRAINT [CourseClass_lecturerId_fkey]
GO
ALTER TABLE [dbo].[CourseClass]  WITH CHECK ADD  CONSTRAINT [CourseClass_semesterId_fkey] FOREIGN KEY([semesterId])
REFERENCES [dbo].[Semester] ([id])
GO
ALTER TABLE [dbo].[CourseClass] CHECK CONSTRAINT [CourseClass_semesterId_fkey]
GO
ALTER TABLE [dbo].[CourseClass]  WITH CHECK ADD  CONSTRAINT [CourseClass_subjectId_fkey] FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[CourseClass] CHECK CONSTRAINT [CourseClass_subjectId_fkey]
GO
ALTER TABLE [dbo].[Curriculum]  WITH CHECK ADD  CONSTRAINT [Curriculum_majorId_fkey] FOREIGN KEY([majorId])
REFERENCES [dbo].[Major] ([id])
GO
ALTER TABLE [dbo].[Curriculum] CHECK CONSTRAINT [Curriculum_majorId_fkey]
GO
ALTER TABLE [dbo].[Curriculum]  WITH CHECK ADD  CONSTRAINT [Curriculum_subjectId_fkey] FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[Curriculum] CHECK CONSTRAINT [Curriculum_subjectId_fkey]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [Enrollment_courseClassId_fkey] FOREIGN KEY([courseClassId])
REFERENCES [dbo].[CourseClass] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [Enrollment_courseClassId_fkey]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [Enrollment_studentId_fkey] FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [Enrollment_studentId_fkey]
GO
ALTER TABLE [dbo].[FamilyMember]  WITH CHECK ADD  CONSTRAINT [FamilyMember_studentId_fkey] FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FamilyMember] CHECK CONSTRAINT [FamilyMember_studentId_fkey]
GO
ALTER TABLE [dbo].[FeeTransaction]  WITH CHECK ADD  CONSTRAINT [FeeTransaction_studentFeeId_fkey] FOREIGN KEY([studentFeeId])
REFERENCES [dbo].[StudentFee] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FeeTransaction] CHECK CONSTRAINT [FeeTransaction_studentFeeId_fkey]
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD  CONSTRAINT [Grade_courseClassId_fkey] FOREIGN KEY([courseClassId])
REFERENCES [dbo].[CourseClass] ([id])
GO
ALTER TABLE [dbo].[Grade] CHECK CONSTRAINT [Grade_courseClassId_fkey]
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD  CONSTRAINT [Grade_studentId_fkey] FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Grade] CHECK CONSTRAINT [Grade_studentId_fkey]
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD  CONSTRAINT [Grade_subjectId_fkey] FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[Grade] CHECK CONSTRAINT [Grade_subjectId_fkey]
GO
ALTER TABLE [dbo].[Lecturer]  WITH CHECK ADD  CONSTRAINT [Lecturer_facultyId_fkey] FOREIGN KEY([facultyId])
REFERENCES [dbo].[Faculty] ([id])
GO
ALTER TABLE [dbo].[Lecturer] CHECK CONSTRAINT [Lecturer_facultyId_fkey]
GO
ALTER TABLE [dbo].[Lecturer]  WITH CHECK ADD  CONSTRAINT [Lecturer_userId_fkey] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lecturer] CHECK CONSTRAINT [Lecturer_userId_fkey]
GO
ALTER TABLE [dbo].[Major]  WITH CHECK ADD  CONSTRAINT [Major_facultyId_fkey] FOREIGN KEY([facultyId])
REFERENCES [dbo].[Faculty] ([id])
GO
ALTER TABLE [dbo].[Major] CHECK CONSTRAINT [Major_facultyId_fkey]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [Notification_userId_fkey] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [Notification_userId_fkey]
GO
ALTER TABLE [dbo].[Prerequisite]  WITH CHECK ADD  CONSTRAINT [Prerequisite_prerequisiteId_fkey] FOREIGN KEY([prerequisiteId])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[Prerequisite] CHECK CONSTRAINT [Prerequisite_prerequisiteId_fkey]
GO
ALTER TABLE [dbo].[Prerequisite]  WITH CHECK ADD  CONSTRAINT [Prerequisite_subjectId_fkey] FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[Prerequisite] CHECK CONSTRAINT [Prerequisite_subjectId_fkey]
GO
ALTER TABLE [dbo].[Specialization]  WITH CHECK ADD  CONSTRAINT [Specialization_majorId_fkey] FOREIGN KEY([majorId])
REFERENCES [dbo].[Major] ([id])
GO
ALTER TABLE [dbo].[Specialization] CHECK CONSTRAINT [Specialization_majorId_fkey]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [Student_adminClassId_fkey] FOREIGN KEY([adminClassId])
REFERENCES [dbo].[AdminClass] ([id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [Student_adminClassId_fkey]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [Student_majorId_fkey] FOREIGN KEY([majorId])
REFERENCES [dbo].[Major] ([id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [Student_majorId_fkey]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [Student_specializationId_fkey] FOREIGN KEY([specializationId])
REFERENCES [dbo].[Specialization] ([id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [Student_specializationId_fkey]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [Student_userId_fkey] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [Student_userId_fkey]
GO
ALTER TABLE [dbo].[StudentFee]  WITH CHECK ADD  CONSTRAINT [StudentFee_semesterId_fkey] FOREIGN KEY([semesterId])
REFERENCES [dbo].[Semester] ([id])
GO
ALTER TABLE [dbo].[StudentFee] CHECK CONSTRAINT [StudentFee_semesterId_fkey]
GO
ALTER TABLE [dbo].[StudentFee]  WITH CHECK ADD  CONSTRAINT [StudentFee_studentId_fkey] FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentFee] CHECK CONSTRAINT [StudentFee_studentId_fkey]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [Subject_majorId_fkey] FOREIGN KEY([majorId])
REFERENCES [dbo].[Major] ([id])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [Subject_majorId_fkey]
GO
ALTER TABLE [dbo].[TrainingScore]  WITH CHECK ADD  CONSTRAINT [TrainingScore_semesterId_fkey] FOREIGN KEY([semesterId])
REFERENCES [dbo].[Semester] ([id])
GO
ALTER TABLE [dbo].[TrainingScore] CHECK CONSTRAINT [TrainingScore_semesterId_fkey]
GO
ALTER TABLE [dbo].[TrainingScore]  WITH CHECK ADD  CONSTRAINT [TrainingScore_studentId_fkey] FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrainingScore] CHECK CONSTRAINT [TrainingScore_studentId_fkey]
GO
