USE [student_db]
GO
/****** Object:  Table [dbo].[AdminClass]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminClass](
	[id] [varchar](50) NOT NULL,
	[majorId] [varchar](50) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[cohort] [varchar](50) NULL,
	[advisorId] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassSchedule]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSchedule](
	[id] [varchar](50) NOT NULL,
	[courseClassId] [varchar](50) NOT NULL,
	[dayOfWeek] [int] NOT NULL,
	[startShift] [int] NOT NULL,
	[endShift] [int] NOT NULL,
	[room] [nvarchar](100) NOT NULL,
	[type] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseClass]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseClass](
	[id] [varchar](50) NOT NULL,
	[subjectId] [varchar](50) NOT NULL,
	[semesterId] [varchar](50) NOT NULL,
	[lecturerId] [varchar](50) NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[maxSlots] [int] NOT NULL,
	[currentSlots] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[id] [varchar](50) NOT NULL,
	[studentId] [varchar](50) NOT NULL,
	[courseClassId] [varchar](50) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[registeredAt] [datetime2](7) NOT NULL,
	[tuitionFee] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[id] [varchar](50) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[deanName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grade]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grade](
	[id] [varchar](50) NOT NULL,
	[studentId] [varchar](50) NOT NULL,
	[courseClassId] [varchar](50) NOT NULL,
	[subjectId] [varchar](50) NOT NULL,
	[attendanceScore] [float] NULL,
	[midtermScore] [float] NULL,
	[finalScore] [float] NULL,
	[totalScore10] [float] NULL,
	[totalScore4] [float] NULL,
	[letterGrade] [varchar](10) NULL,
	[isPassed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[id] [varchar](50) NOT NULL,
	[userId] [varchar](50) NOT NULL,
	[facultyId] [varchar](50) NULL,
	[lectureCode] [varchar](50) NOT NULL,
	[fullName] [nvarchar](255) NOT NULL,
	[degree] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Major]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major](
	[id] [varchar](50) NOT NULL,
	[facultyId] [varchar](50) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prerequisite]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prerequisite](
	[id] [varchar](50) NOT NULL,
	[subjectId] [varchar](50) NOT NULL,
	[prerequisiteId] [varchar](50) NOT NULL,
	[type] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[id] [varchar](50) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[startDate] [datetime2](7) NOT NULL,
	[endDate] [datetime2](7) NOT NULL,
	[isRegistering] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [varchar](50) NOT NULL,
	[userId] [varchar](50) NOT NULL,
	[adminClassId] [varchar](50) NULL,
	[majorId] [varchar](50) NOT NULL,
	[studentCode] [varchar](50) NOT NULL,
	[fullName] [nvarchar](255) NOT NULL,
	[dob] [datetime2](7) NOT NULL,
	[gender] [nvarchar](20) NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](500) NULL,
	[citizenId] [varchar](50) NULL,
	[emailPersonal] [varchar](100) NULL,
	[gpa] [float] NOT NULL,
	[totalCredits] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[id] [varchar](50) NOT NULL,
	[majorId] [varchar](50) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[credits] [int] NOT NULL,
	[theoryHours] [int] NOT NULL,
	[practiceHours] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuitionFee]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuitionFee](
	[id] [varchar](50) NOT NULL,
	[studentId] [varchar](50) NOT NULL,
	[semesterId] [varchar](50) NOT NULL,
	[totalAmount] [decimal](12, 2) NOT NULL,
	[paidAmount] [decimal](12, 2) NOT NULL,
	[isCompleted] [bit] NOT NULL,
	[deadline] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuitionTransaction]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuitionTransaction](
	[id] [varchar](50) NOT NULL,
	[tuitionFeeId] [varchar](50) NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[paymentMethod] [varchar](50) NOT NULL,
	[transactionDate] [datetime2](7) NOT NULL,
	[transactionCode] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 28/02/2026 9:13:01 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [varchar](50) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[passwordHash] [nvarchar](255) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[avatarUrl] [nvarchar](1000) NULL,
	[isActive] [bit] NOT NULL,
	[lastLogin] [datetime2](7) NULL,
	[createdAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AdminClass] ([id], [majorId], [code], [name], [cohort], [advisorId]) VALUES (N'AC01', N'M01', N'DHKTPM17A', N'Đại học Kỹ thuật phần mềm 17A', N'17', N'L01')
INSERT [dbo].[AdminClass] ([id], [majorId], [code], [name], [cohort], [advisorId]) VALUES (N'AC02', N'M01', N'DHKTPM17B', N'Đại học Kỹ thuật phần mềm 17B', N'17', N'L02')
INSERT [dbo].[AdminClass] ([id], [majorId], [code], [name], [cohort], [advisorId]) VALUES (N'AC03', N'M02', N'DHHTTT17A', N'Đại học Hệ thống thông tin 17A', N'17', N'L03')
GO
INSERT [dbo].[ClassSchedule] ([id], [courseClassId], [dayOfWeek], [startShift], [endShift], [room], [type]) VALUES (N'CS01', N'CC01', 2, 1, 3, N'A2-301', N'THEORY')
INSERT [dbo].[ClassSchedule] ([id], [courseClassId], [dayOfWeek], [startShift], [endShift], [room], [type]) VALUES (N'CS02', N'CC02', 3, 4, 6, N'A2-302', N'LAB')
INSERT [dbo].[ClassSchedule] ([id], [courseClassId], [dayOfWeek], [startShift], [endShift], [room], [type]) VALUES (N'CS03', N'CC03', 4, 7, 9, N'A2-303', N'THEORY')
GO
INSERT [dbo].[CourseClass] ([id], [subjectId], [semesterId], [lecturerId], [code], [name], [maxSlots], [currentSlots], [status]) VALUES (N'CC01', N'SUB01', N'SEM09', N'L01', N'IT3030_1', N'Kiến trúc máy tính - Lớp 01', 60, 20, N'OPEN')
INSERT [dbo].[CourseClass] ([id], [subjectId], [semesterId], [lecturerId], [code], [name], [maxSlots], [currentSlots], [status]) VALUES (N'CC02', N'SUB02', N'SEM09', N'L02', N'IT4020_1', N'Cơ sở dữ liệu - Lớp 01', 60, 20, N'OPEN')
INSERT [dbo].[CourseClass] ([id], [subjectId], [semesterId], [lecturerId], [code], [name], [maxSlots], [currentSlots], [status]) VALUES (N'CC03', N'SUB03', N'SEM09', N'L03', N'IT3040_1', N'CTDL&GT - Lớp 01', 60, 20, N'OPEN')
GO
INSERT [dbo].[Enrollment] ([id], [studentId], [courseClassId], [status], [registeredAt], [tuitionFee]) VALUES (N'EN01', N'ST01', N'CC01', N'SUCCESS', CAST(N'2024-08-15T00:00:00.0000000' AS DateTime2), CAST(3000000.00 AS Decimal(10, 2)))
INSERT [dbo].[Enrollment] ([id], [studentId], [courseClassId], [status], [registeredAt], [tuitionFee]) VALUES (N'EN02', N'ST02', N'CC02', N'SUCCESS', CAST(N'2024-08-15T00:00:00.0000000' AS DateTime2), CAST(3000000.00 AS Decimal(10, 2)))
INSERT [dbo].[Enrollment] ([id], [studentId], [courseClassId], [status], [registeredAt], [tuitionFee]) VALUES (N'EN03', N'ST03', N'CC03', N'SUCCESS', CAST(N'2024-08-15T00:00:00.0000000' AS DateTime2), CAST(3000000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Faculty] ([id], [code], [name], [deanName]) VALUES (N'F01', N'CNTT', N'Công nghệ thông tin', N'PGS. TS. Nguyễn Văn Khoa')
INSERT [dbo].[Faculty] ([id], [code], [name], [deanName]) VALUES (N'F02', N'KT', N'Kinh tế', N'TS. Trần Thị Lan')
INSERT [dbo].[Faculty] ([id], [code], [name], [deanName]) VALUES (N'F03', N'NN', N'Ngôn ngữ và Văn hóa', N'ThS. Lê Hoàng Tuấn')
GO
INSERT [dbo].[Grade] ([id], [studentId], [courseClassId], [subjectId], [attendanceScore], [midtermScore], [finalScore], [totalScore10], [totalScore4], [letterGrade], [isPassed]) VALUES (N'GR01', N'ST01', N'CC01', N'SUB01', 9, 8, 8.5, 8.4, 3.5, N'B+', 1)
INSERT [dbo].[Grade] ([id], [studentId], [courseClassId], [subjectId], [attendanceScore], [midtermScore], [finalScore], [totalScore10], [totalScore4], [letterGrade], [isPassed]) VALUES (N'GR02', N'ST02', N'CC02', N'SUB02', 10, 7.5, 8, 8.2, 3.5, N'B+', 1)
INSERT [dbo].[Grade] ([id], [studentId], [courseClassId], [subjectId], [attendanceScore], [midtermScore], [finalScore], [totalScore10], [totalScore4], [letterGrade], [isPassed]) VALUES (N'GR03', N'ST03', N'CC03', N'SUB03', 8.5, 9, 9.5, 9.2, 4, N'A', 1)
GO
INSERT [dbo].[Lecturer] ([id], [userId], [facultyId], [lectureCode], [fullName], [degree], [phone]) VALUES (N'L01', N'UL01', N'F01', N'GV001', N'Phan Văn Nam', N'Thạc sĩ', N'0901234561')
INSERT [dbo].[Lecturer] ([id], [userId], [facultyId], [lectureCode], [fullName], [degree], [phone]) VALUES (N'L02', N'UL02', N'F01', N'GV002', N'Lê Thị Hồng', N'Thạc sĩ', N'0901234562')
INSERT [dbo].[Lecturer] ([id], [userId], [facultyId], [lectureCode], [fullName], [degree], [phone]) VALUES (N'L03', N'UL03', N'F01', N'GV003', N'Nguyễn Quốc Tuấn', N'Tiến sĩ', N'0901234563')
GO
INSERT [dbo].[Major] ([id], [facultyId], [code], [name]) VALUES (N'M01', N'F01', N'7480104', N'Khoa học máy tính')
INSERT [dbo].[Major] ([id], [facultyId], [code], [name]) VALUES (N'M02', N'F01', N'7480101', N'Kỹ thuật phần mềm')
INSERT [dbo].[Major] ([id], [facultyId], [code], [name]) VALUES (N'M03', N'F01', N'7480102', N'Hệ thống thông tin')
GO
INSERT [dbo].[Prerequisite] ([id], [subjectId], [prerequisiteId], [type]) VALUES (N'PR01', N'SUB03', N'SUB01', N'PRE')
INSERT [dbo].[Prerequisite] ([id], [subjectId], [prerequisiteId], [type]) VALUES (N'PR02', N'SUB04', N'SUB03', N'PRE')
INSERT [dbo].[Prerequisite] ([id], [subjectId], [prerequisiteId], [type]) VALUES (N'PR03', N'SUB02', N'SUB03', N'PRE')
GO
INSERT [dbo].[Semester] ([id], [code], [name], [startDate], [endDate], [isRegistering]) VALUES (N'SEM01', N'HK1_2020', N'Học kỳ 1 Năm học 2020-2021', CAST(N'2020-09-05T00:00:00.0000000' AS DateTime2), CAST(N'2021-01-15T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Semester] ([id], [code], [name], [startDate], [endDate], [isRegistering]) VALUES (N'SEM02', N'HK2_2020', N'Học kỳ 2 Năm học 2020-2021', CAST(N'2021-02-10T00:00:00.0000000' AS DateTime2), CAST(N'2021-06-30T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Semester] ([id], [code], [name], [startDate], [endDate], [isRegistering]) VALUES (N'SEM03', N'HK1_2021', N'Học kỳ 1 Năm học 2021-2022', CAST(N'2021-09-05T00:00:00.0000000' AS DateTime2), CAST(N'2022-01-15T00:00:00.0000000' AS DateTime2), 0)
GO
INSERT [dbo].[Student] ([id], [userId], [adminClassId], [majorId], [studentCode], [fullName], [dob], [gender], [phone], [address], [citizenId], [emailPersonal], [gpa], [totalCredits], [status]) VALUES (N'ST01', N'US01', N'AC01', N'M01', N'HE17001', N'Nguyễn Quang Hải', CAST(N'2004-01-01T00:00:00.0000000' AS DateTime2), N'Nam', N'0981111111', N'Yên Bái, Việt Nam', N'001200000001', N'hai@gmail.com', 3.5, 90, N'ACTIVE')
INSERT [dbo].[Student] ([id], [userId], [adminClassId], [majorId], [studentCode], [fullName], [dob], [gender], [phone], [address], [citizenId], [emailPersonal], [gpa], [totalCredits], [status]) VALUES (N'ST02', N'US02', N'AC02', N'M01', N'HE17002', N'Đoàn Văn Hậu', CAST(N'2004-02-02T00:00:00.0000000' AS DateTime2), N'Nam', N'0981111112', N'Hà Nội, Việt Nam', N'001200000002', N'hau@gmail.com', 3.2, 90, N'ACTIVE')
INSERT [dbo].[Student] ([id], [userId], [adminClassId], [majorId], [studentCode], [fullName], [dob], [gender], [phone], [address], [citizenId], [emailPersonal], [gpa], [totalCredits], [status]) VALUES (N'ST03', N'US03', N'AC03', N'M02', N'HE17003', N'Đặng Văn Lâm', CAST(N'2004-03-03T00:00:00.0000000' AS DateTime2), N'Nam', N'0981111113', N'Yên Bái, Việt Nam', N'001200000003', N'lam@gmail.com', 3.8, 90, N'ACTIVE')
GO
INSERT [dbo].[Subject] ([id], [majorId], [code], [name], [credits], [theoryHours], [practiceHours], [description]) VALUES (N'SUB01', N'M01', N'IT3030', N'Kiến trúc máy tính', 3, 45, 0, N'Lý thuyết phần cứng')
INSERT [dbo].[Subject] ([id], [majorId], [code], [name], [credits], [theoryHours], [practiceHours], [description]) VALUES (N'SUB02', N'M01', N'IT4020', N'Cơ sở dữ liệu', 3, 30, 15, N'SQL Server & Design')
INSERT [dbo].[Subject] ([id], [majorId], [code], [name], [credits], [theoryHours], [practiceHours], [description]) VALUES (N'SUB03', N'M01', N'IT3040', N'Cấu trúc dữ liệu và giải thuật', 3, 30, 15, N'Môn học cốt lõi')
GO
INSERT [dbo].[TuitionFee] ([id], [studentId], [semesterId], [totalAmount], [paidAmount], [isCompleted], [deadline]) VALUES (N'TF01', N'ST01', N'SEM09', CAST(5000000.00 AS Decimal(12, 2)), CAST(5000000.00 AS Decimal(12, 2)), 1, CAST(N'2024-10-15T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[TuitionFee] ([id], [studentId], [semesterId], [totalAmount], [paidAmount], [isCompleted], [deadline]) VALUES (N'TF02', N'ST02', N'SEM09', CAST(5000000.00 AS Decimal(12, 2)), CAST(5000000.00 AS Decimal(12, 2)), 1, CAST(N'2024-10-15T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[TuitionFee] ([id], [studentId], [semesterId], [totalAmount], [paidAmount], [isCompleted], [deadline]) VALUES (N'TF03', N'ST03', N'SEM09', CAST(5000000.00 AS Decimal(12, 2)), CAST(5000000.00 AS Decimal(12, 2)), 1, CAST(N'2024-10-15T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[TuitionTransaction] ([id], [tuitionFeeId], [amount], [paymentMethod], [transactionDate], [transactionCode]) VALUES (N'TT01', N'TF01', CAST(5000000.00 AS Decimal(12, 2)), N'BANKING', CAST(N'2024-09-10T00:00:00.0000000' AS DateTime2), N'VCB00111111')
INSERT [dbo].[TuitionTransaction] ([id], [tuitionFeeId], [amount], [paymentMethod], [transactionDate], [transactionCode]) VALUES (N'TT02', N'TF02', CAST(5000000.00 AS Decimal(12, 2)), N'BANKING', CAST(N'2024-09-11T00:00:00.0000000' AS DateTime2), N'VCB00111112')
INSERT [dbo].[TuitionTransaction] ([id], [tuitionFeeId], [amount], [paymentMethod], [transactionDate], [transactionCode]) VALUES (N'TT03', N'TF03', CAST(5000000.00 AS Decimal(12, 2)), N'BANKING', CAST(N'2024-09-12T00:00:00.0000000' AS DateTime2), N'VCB00111113')
GO
INSERT [dbo].[User] ([id], [username], [email], [passwordHash], [role], [avatarUrl], [isActive], [lastLogin], [createdAt]) VALUES (N'74ea1117-d691-4460-9a22-15f2b6794a56', N'superadmin', N'superadmin@edu.com', N'$2b$10$PcEc5UsZj2H.tWXPJ1UG2uEpQme7ya0MBDtt2.0EVmdzHg9DUwVEe', N'SUPER_ADMIN', NULL, 1, NULL, CAST(N'2026-02-26T18:05:05.4770000' AS DateTime2))
INSERT [dbo].[User] ([id], [username], [email], [passwordHash], [role], [avatarUrl], [isActive], [lastLogin], [createdAt]) VALUES (N'a3dd434b-cfbf-4ed9-9c26-11530900ca5f', N'student3642', N'test3642@example.com', N'$2b$10$qU6PFX6EMUUsExnSQpeCX.wOg3/S4hYWXYZCEFCOeq2q3MoHxzi.e', N'STUDENT', NULL, 1, NULL, CAST(N'2026-02-26T17:46:49.7830000' AS DateTime2))
INSERT [dbo].[User] ([id], [username], [email], [passwordHash], [role], [avatarUrl], [isActive], [lastLogin], [createdAt]) VALUES (N'UA01', N'admin01', N'admin01@uni.edu.vn', N'$2b$10$qU6PFX6EMUUsExnSQpeCX.wOg3/S4hYWXYZCEFCOeq2q3MoHxzi.e', N'ADMIN', NULL, 1, NULL, CAST(N'2026-02-27T00:28:10.0200000' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AdminCla__357D4CF98CEF6878]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[AdminClass] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CourseCl__357D4CF9A161B491]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[CourseClass] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Enrollment_studentId_courseClassId_key]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [Enrollment_studentId_courseClassId_key] UNIQUE NONCLUSTERED 
(
	[studentId] ASC,
	[courseClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Faculty__357D4CF9FEA4CAFF]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[Faculty] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Grade_studentId_subjectId_courseClassId_key]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[Grade] ADD  CONSTRAINT [Grade_studentId_subjectId_courseClassId_key] UNIQUE NONCLUSTERED 
(
	[studentId] ASC,
	[subjectId] ASC,
	[courseClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Lecturer__76F9F92DC12FA4DE]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[Lecturer] ADD UNIQUE NONCLUSTERED 
(
	[lectureCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Lecturer__CB9A1CFEDB41DF8D]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[Lecturer] ADD UNIQUE NONCLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Major__357D4CF97C2F4D00]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[Major] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Prerequisite_subjectId_prerequisiteId_key]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[Prerequisite] ADD  CONSTRAINT [Prerequisite_subjectId_prerequisiteId_key] UNIQUE NONCLUSTERED 
(
	[subjectId] ASC,
	[prerequisiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Semester__357D4CF92ECC94F7]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[Semester] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__48F7EF36B8DBB727]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[studentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__CB9A1CFE579AC08C]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Subject__357D4CF90265BFBE]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[Subject] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E61641C3B1081]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__F3DBC57207869DE0]    Script Date: 28/02/2026 9:13:01 SA ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CourseClass] ADD  DEFAULT ((60)) FOR [maxSlots]
GO
ALTER TABLE [dbo].[CourseClass] ADD  DEFAULT ((0)) FOR [currentSlots]
GO
ALTER TABLE [dbo].[CourseClass] ADD  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Enrollment] ADD  DEFAULT (getdate()) FOR [registeredAt]
GO
ALTER TABLE [dbo].[Grade] ADD  DEFAULT ((0)) FOR [isPassed]
GO
ALTER TABLE [dbo].[Semester] ADD  DEFAULT ((0)) FOR [isRegistering]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ((0.0)) FOR [gpa]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ((0)) FOR [totalCredits]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Subject] ADD  DEFAULT ((30)) FOR [theoryHours]
GO
ALTER TABLE [dbo].[Subject] ADD  DEFAULT ((15)) FOR [practiceHours]
GO
ALTER TABLE [dbo].[TuitionFee] ADD  DEFAULT ((0)) FOR [paidAmount]
GO
ALTER TABLE [dbo].[TuitionFee] ADD  DEFAULT ((0)) FOR [isCompleted]
GO
ALTER TABLE [dbo].[TuitionTransaction] ADD  DEFAULT (getdate()) FOR [transactionDate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('STUDENT') FOR [role]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[AdminClass]  WITH CHECK ADD FOREIGN KEY([advisorId])
REFERENCES [dbo].[Lecturer] ([id])
GO
ALTER TABLE [dbo].[AdminClass]  WITH CHECK ADD FOREIGN KEY([majorId])
REFERENCES [dbo].[Major] ([id])
GO
ALTER TABLE [dbo].[ClassSchedule]  WITH CHECK ADD FOREIGN KEY([courseClassId])
REFERENCES [dbo].[CourseClass] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseClass]  WITH CHECK ADD FOREIGN KEY([lecturerId])
REFERENCES [dbo].[Lecturer] ([id])
GO
ALTER TABLE [dbo].[CourseClass]  WITH CHECK ADD FOREIGN KEY([semesterId])
REFERENCES [dbo].[Semester] ([id])
GO
ALTER TABLE [dbo].[CourseClass]  WITH CHECK ADD FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD FOREIGN KEY([courseClassId])
REFERENCES [dbo].[CourseClass] ([id])
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD FOREIGN KEY([courseClassId])
REFERENCES [dbo].[CourseClass] ([id])
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[Lecturer]  WITH CHECK ADD FOREIGN KEY([facultyId])
REFERENCES [dbo].[Faculty] ([id])
GO
ALTER TABLE [dbo].[Lecturer]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Major]  WITH CHECK ADD FOREIGN KEY([facultyId])
REFERENCES [dbo].[Faculty] ([id])
GO
ALTER TABLE [dbo].[Prerequisite]  WITH CHECK ADD FOREIGN KEY([prerequisiteId])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[Prerequisite]  WITH CHECK ADD FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([adminClassId])
REFERENCES [dbo].[AdminClass] ([id])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([majorId])
REFERENCES [dbo].[Major] ([id])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD FOREIGN KEY([majorId])
REFERENCES [dbo].[Major] ([id])
GO
ALTER TABLE [dbo].[TuitionFee]  WITH CHECK ADD FOREIGN KEY([semesterId])
REFERENCES [dbo].[Semester] ([id])
GO
ALTER TABLE [dbo].[TuitionFee]  WITH CHECK ADD FOREIGN KEY([studentId])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[TuitionTransaction]  WITH CHECK ADD FOREIGN KEY([tuitionFeeId])
REFERENCES [dbo].[TuitionFee] ([id])
GO
